body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.calculator{
  width:250px;
  background-color:grey;
  padding: 10px;
  border-radius: 8px;
}

#display{
  position: relative;
  width: 100%;
  height: 70px;
  background-color: #222;
  border-radius: 5px;
  margin-bottom: 10px;
}

#history {
  position: absolute;
  top: 4px;
  left: 6px;
  font-size: 12px;
  color: #888;
}

#current {
  position: absolute;
  right: 10px;
  bottom: 6px;
  font-size: 2rem;
  color: #fff;
  text-align: right;
}

.buttons{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap :5px;
}

.btn{
  width: 100%;
  height: 50px;
  font-size: 1.5rem;
  border: none;
  background-color: #e0e0e0;
  cursor: pointer;
  border-radius: 5px;
}

.btn.operator{
  background-color: #f39c12;
  color: #fff
}

.btn.equal{
  grid-column: span 4;
  background-color: #2ecc71;;
  color: #fff;

}